@charset "UTF 8";

div.container {
    
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);


    gap: 10px;
    height: 200px;
}

div.caixa1 {
    background-color: antiquewhite;

     grid-row: 1 / span 1;
     grid-column: 1 / span 4;

     
}

div.caixa2 {
    background-color: goldenrod;
    grid-area: 2 / 1 / 4 / 3;

}

div.caixa3 {
    background-color: cadetblue;

    grid-row: 2 / 4;
    grid-column: 3 / 5;
}