@charset "UTF-8";

div.site {
    display: grid;
    grid-template: repeat(8, 80px) / repeat(6, 1fr);

    gap: 10px;
    height: 400px;
    place-items: normal normal;
    place-content: normal normal;
}

.topo {
    background-color: brown;
    grid-area: 1 / 1 / 3 / 7;
    text-align: center;
    color: white;
}

.menu {
    background-color: aquamarine;
    grid-area: 3 / 1 / 4 / 7;
}

.principal {
 background-color: burlywood;
 grid-row: 4 / 8;
 grid-column: 1 / 5;

}

.secundario {
 background-color: antiquewhite;
 grid-row: 4 / 8;
 grid-column: 5 / 7;

}

.rodape {
background-color: coral;
grid-row: 8 / 9;
grid-column: 1 / 7;
}