@charset "UTF-8";

/* Todas as demais midias*/
/*
    celular pequeno: 0px até 639px
    Celular grande/tablet pequeno: aparti de 640px
    tablet: 768px
    desktop: 1024px
    telas Grandes: 1280px 

*/

@media print {

    body {
        font-family: 'Courier New', Courier, monospace;
        
    }
    main {
         border: 2px solid black;
    }

    main::after {
        content: 'essa Impressão foi feita no site bbcnee';
        text-decoration: underline;
    }

    h1 {
        color: black;
        text-shadow: none;
    }

img#phone {display: none;}
img#print {display: block;}
img#tablet {display: none;}
img#pc {display: none;}
img#tv {display: none;}

}

@media screen and (min-width:600px) and (max-width:1023px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
img#phone {display: none;}
img#print {display: none;}
img#tablet {display: block;}
img#pc {display: none;}
img#tv {display: none;}
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
img#phone {display: none;}
img#print {display: none;}
img#tablet {display: none;}
img#pc {display: block;}
img#tv {display: none;}
}

@media screen and (min-width: 1440px) {
    body {
        background-image: url(../imagens/back-tv.jpg);

    }
    img#phone {display: none;}
img#print {display: none;}
img#tablet {display: none;}
img#pc {display: none;}
img#tv {display: block;}
}